/* General Layout */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
}

img {
  max-width: 100%;
  height: auto;
}

/* Typography */
h1 {
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 span {
  color: #397445;
  font-style: italic;
}

h2 {
  color: black;
  font-size: 2.5vw;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#first_title {
  margin-top: 0;
}

p {
  margin: 0.5em 0;
}

button {
  background-color: #226d32;
  margin: 0 auto;
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  width: 9.6vw;
  height: auto;
  border-radius: 52vw;
  padding: 0.3em 0.1em;
  border: #226d32;
  cursor: pointer;
}

/* Layout */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  /* background-color: #b1e1e7; */
  width: 90%;
  margin: 0 auto;
  font-size: 2vw;
  max-width: 7936px;
}

.banner {
  border-radius: 1vw;
}

.columns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.2em;
}

.columns.columns_start {
  align-items: flex-start;
}

#shop_content {
  flex-direction: column;
}

.logo_big {
  width: 29vw;
  height: auto;
}

.btn_group {
  display: flex;
  align-items: center;
  background-color: #226d32;
  width: 69%;
  border-radius: 52vw;
  margin: 0 auto;
}

.btn_group button:hover {
  background-color: #184e24;
}

.btn_group button.oeffnung {
  width: 14vw;
}

#shop-button,
#saettel-button,
#oeffnungszeiten-button,
#anfahrt-button,
#ueber_uns-button,
#kontakt-button {
  background-color: #184e24;
}

.bottom_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  font-size: 0.7vw;
  margin: 0 auto;
  padding-left: 3%;
  padding-right: 3%;
  color: rgb(255, 255, 255);
  width: 100%;
  background-color: #184e24;
}

button.impressum_button {
  background-color: #184e24;
  width: 100%;
  font-size: 0.7vw;
}

button.impressum_button:hover {
  background-color: #226d32;
}

#impressum_content {
  font-size: 1.5vw;
}

#impressum_content h2 {
  font-size: 2vw;
}

.col {
  text-align: left;
}

.col.col-bg {
  background-color: #b1e1e7;
  padding: 0.25em;
  margin: 0.25em 0;
}

.col-1 {
  width: 20%;
}

.col-3 {
  width: 50%;
}

.col.col-bg.col-1 {
  margin-left: auto;
  font-size: 1.2vw;
}

.col.col-bg.col-1 h2 {
  font-size: 1.5vw;
}

.col.col-3 {
  margin-left: 5em;
}
